.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    width: 90vh;
    height: 90vh;
  }
  
  .square {
    background-color: #ccc;
    width: 100%;
    height: 100%;
  }

.input-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
